<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
@{
    Layout = null;
}
<h3 style="text-align:center;color:red;font-size:xx-large;" class="">Access Denied</h3>
<a class="btn btn-primary me-2" href="/Dashboard/Dashboard" style=" max-width:fit-content;background-color: #0466c8;margin-left:10px;">Back to BTClock</a>