@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BTClockUI</title>
	<link href="~/css/dashboard.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
	<header class="banner">
		<div class="banner-text">
			<h1>Welcome to BTClock</h1>
			<p>Here you'll find all the resources for your PTO, time cards and benefit related needs!</p>
		</div>
		<div class="banner-image">
			<img src="~/images/dashboard.jpg" alt="Benefits Image" />
		</div>
	</header>

	<section class="cards">
		<a href="@ViewBag.appUrl/Attendance/ClockIn" class="card">
			<i class="fas fa-clock"></i><span>Clock-In/Out</span>
		</a>
		<a href="@ViewBag.appUrl/LeaveTransaction/LeaveTransaction" class="card">
			<i class="fas fa-clock"></i><span>Leave</span>
		</a>
		<a href="@ViewBag.appUrl/MenuAccess/Redirect" class="card">
			<i class="fas fa-user-tie"></i><span>Admin</span>
		</a>
	</section>


</body>
</html>