@model IEnumerable<Attendance.Domain.Models.LeaveTransactionDto>
@using System.Security.Claims
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var users = ViewBag.users;
}
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />

<div class="content-page" style="margin:35px 0 0 0">
    <div class="content">
        <div class="main-inner container-fluid">

            <div id="userList">
                <div class="card com-profile-info">
                    <div class="row mt-3">
                    </div>
                    <!-- Top Header -->
                    <div class="table-top-header">
                        <h4>List of LeaveTransaction</h4>

                        <div class="d-flex gap-2">
                            <div class="table-search-box">
                                <input type="text" id="customcorporateSearch" class="form-control form-control-sm" placeholder="Search...">
                                <button type="submit"><i class="ri-search-line"></i></button>
                            </div>

                            <div id="exportcorporateButtons" class="btn-group" role="group" style="display:none;"></div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <div class="col-xl-6" style="margin-left:30px;">
                            @if (TempData["msg"] != null)
                            {
                                <div class="usermsg" id="temporaryMessage">
                                    <span style="color:#00af00;font-weight:600;">@TempData["msg"]</span>
                                </div>
                            }
                            else
                            {
                                <div class="usermsg" id="temporaryMessage">
                                    <span style="color:#d21313;font-weight:600;"> @ViewBag.errormsg</span>
                                </div>
                            }
                        </div>
                        <table id="corporateTable" class="table dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th>Leave Type</th>
                                    <th>Is Paid</th>
                                    <th>Is Half Day</th>
                                    <th>AppiedOn</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Total Days</th>
                                    <th>Reason</th>
                                    <th>Updatedat</th>
                                    <th>Updatedby</th>
                                    <th>ApprovedAt</th>
                                    <th>ApprovedBy</th>
                                    <th>Status</th>
                                    <th>File</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                            </tbody>
                        </table>
                        <div id="dataLoader" class=" justify-content-center" style="display:none; margin-left: 598px;">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <!-- Bottom Area -->
                    <div class="datatable-footer-bottom">
                        <div class="totle-left">
                            <span id="totalRemindersCorporate">Total List: </span>
                        </div>
                        <div id="customcorporatePagination" class="dataTables_paginate paging_simple_numbers"></div>
                        <div class="show-page">
                            <span>Show per page:</span>
                            <select id="pageLength" class="form-select">
                                <option value="5">5 </option>
                                <option value="10" selected>10 </option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="-1">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="button-main">
                        <a class="btn btn-primary me-2" href="/LeaveTransaction/LeaveTransaction" style=" width: 95px;height: 38px;background-color: #0466c8;">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var url = '@Url.Action("UpdateLeaveTransaction", "LeaveTransaction")' + '?id=';
        var deleteurl = '@Url.Action("DeleteLeaveTransaction", "LeaveTransaction")' + '?id=';
    </script>
    <script src="~/js/leavetransactionview.js"></script>
    <script src="~/js/msgtimeout.js"></script>
}
