@model IEnumerable<Attendance.Domain.Models.BreadcrumbItem>
<nav class="breadcrumb-container" aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (var item in Model)
        {
            if (item.IsActive)
            {
                <li class="breadcrumb-item active" aria-current="page">@item.Title</li>
            }
            else
            {
                <li class="breadcrumb-item">
                    <a href="@item.Url">@item.Title</a>
                </li>
            }
        }
    </ol>
</nav>