.fixed-size-img {
    width: 70px;
    height: 50px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.table td,
.table th {
    text-align: center;
    width: 200px;
    vertical-align: middle;
}
