#exportExcel {
    background-color: white;
    color: #0078d4;
    border: 2px solid #0078d4;
    border-radius: 8px;
    padding: 6px 26px;
    font-weight: 600;
    font-size: 15px;
    width: 130px;
    height: 46px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s, color 0.3s;
}

    #exportExcel i {
        font-size: 20px;
    }

    #exportExcel:hover {
        background-color: #0078d4;
        color: white;
    }

.form-select:focus {
    border-color: #dee2e6;
    outline: 0;
    box-shadow: 0 0 0 0 rgb(13,110, 253, .25);
}
