.datepicker {
    border: 1px solid #cfd8dc !important;
    height: 42px;
    background: #fff !important;
    color: #4a6880 !important;
    border-radius: 8px;
    padding: 6px 15px;
    font-weight: 500;
    box-shadow: none !important;
    transition: none !important;
    cursor: pointer;
    outline: none;
    font-size: larger;
}

.daterangepicker .ranges li.active {
    background-color: #0466C8;
    color: #fff;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #0466C8;
    border-color: transparent;
    color: #fff;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0466C8;
    --bs-btn-border-color: #0466C8;
}
